<div style="width:240px;height:330px;border:1px solid #dddddd;padding:10px;float:left;margin:10px">
    <div style="margin:20px auto;">
        <button on-click="activate"style="width:200px;border-radius:18px;background:{{color}};border:none;color:white;display:block;margin:0 auto;font-size:18px;">Activate</button>
    </div>
    <div style="margin:20px auto;">
        <button on-click="deactivate" style="width:200px;border-radius:18px;background:#23b574;border:none;color:white;display:block;margin:0 auto;font-size:18px;">Deactivate</button>
    </div>
    <div style="margin:20px auto;">
        <button on-click="silence" style="width:200px;border-radius:18px;background:#d8000f;border:none;color:white;display:block;margin:0 auto;font-size:18px;">Silence</button>
    </div>
</div>
